<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="content">
  <div class="content_box">
    <div class="info">
      <p>Сервис в котором пользователь создает демонстрационный портфель
        из финансовых инструментов, а затем делится ссылкой
        по которой другие пользователи могут посмотреть состав,
        доходность и график изменения исторической доходности данного портфеля.</p>
      <a href="/register" class="button button_blue">Начать работу</a>
    </div>

    <div class="img"></div>
  </div>
</div>