<%= stylesheet_link_tag 'investment', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="content">
  <div class="courses">
    <h2>Курсы валют</h2>
    <p>{{data.Date}}</p>
    <table>
      <tr>
        <th>Код</th>
        <th>Валюта</th>
        <th>Курс</th>
        <th>Рост</th>
      </tr>
      <tr v-for="v in data.Valute">
        <td>{{v.CharCode}}</td>
        <td>{{v.Name}}</td>
        <td>{{v.Value}}</td>
        <td v-bind:style="{color: ((v.Previous - v.Value) <= 0) ? 'red' : 'green' }">{{(v.Previous - v.Value).toFixed(4)}}</td>
      </tr>
    </table>
  </div>
</div>

<%= javascript_include_tag('investment') %>